
.icon-heart:before { content: '\e804'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
